/* 
--01 TYPOGRAPHY SYSTEM

-Font sizes (px)
10/12/14/16/18/20/24/30/36/44/52/62/74/86/98

-Font Weights
Default: 400

-Line height
Default: 1

--02 COLORS
-Primary:#e67e22
-Tints:
-Shades:
-Accents
-Greys

--03 SHADOWS

--04 BORDER-RADIUS

--05 WHITESPACES

-Spacing system(px)

2/4/8/12/16/24/32/40/54/80/96/120


*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  color: #555;
}

/* *************************
general reusable css
****************************/
strong {
  font-family: 500;
}
.container {
  max-width: 130rem;
  padding: 3rem 9.6rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  row-gap: 9.2rem;
  column-gap: 6.2rem;
}

.two-column {
  grid-template-columns: repeat(2, 1fr);
}
.three-column {
  grid-template-columns: repeat(3, 1fr);
}
.four-column {
  grid-template-columns: repeat(4, 1fr);
}

.btn:link,
.btn:visited {
  padding: 1.6rem 3.2rem;
  font-size: 2.2rem;
  text-decoration: none;
  border-radius: 1.2rem;
  transition: all 0.3s;
  font-weight: 600;
}

.btn-main:link,
.btn-main:visited {
  background-color: #e67e62;
  color: #fff;

  /* display: inline-block; */
}

.btn-secondary:link,
.btn-secondary {
  background-color: #fff;
  color: #555;
}

.btn-main:hover,
.btn-main:active {
  background-color: #cf711f;
}

.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 2px #fff;
}

.margin-right {
  margin-right: 1.6rem;
}

.subheading {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  margin-bottom: 3rem;
  color: #e67e62;
  text-transform: uppercase;
}

.secondary-head {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
  margin: 2rem 0 3rem 0;
  color: #333;
}

.terheading {
  font-size: 2.8rem;
  font-weight: 600;
  margin: 1.2rem 0;
  color: #333;
}

.text-center {
  text-align: center;
}
/* ***************************** */
/* navigation */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  padding: 3.2rem;
}
.logo {
  height: 2.2rem;
}

.navlist {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  gap: 3.2rem;
}
a {
  text-decoration: none;
}

.navitem-a:link,
.navitem-a:visited {
  color: #333;
  font-size: 1.6rem;
  transition: all 0.2s;
  font-weight: 500;
}
.navitem-a:hover,
.navitem-a:active {
  color: #555;
}

.ctc:link,
.ctc:visited {
  color: #fff;
  padding: 0.7rem 1.4rem;
  font-weight: 500;
  display: inline-block;
  background-color: #e67e62;
  border-radius: 9px;
}
.ctc:hover,
.ctc:active {
  background-color: #cf711f;
}

/* ***************************** */
/* hero section */
/* **************************** */
.hero-section {
  background-color: #fdf2e9;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 130rem;
  gap: 9.6rem;
  align-items: center;
  padding: 0 1rem;
  margin-top: -2.2rem;
}

.hero-heading-prime {
  color: #2a2828;
}
.hero-image {
  width: 100%;
  padding: 9.8rem 0;
}

.hero-heading-prime {
  line-height: 1.05;
  letter-spacing: -0.5;
  font-weight: 700;
  font-size: 5.2rem;
  margin-bottom: 1.6rem;
}

.hero-summary {
  line-height: 1.5;
  font-size: 2.2rem;
  margin-bottom: 8rem;
  color: #333;
}

.meal-del {
  display: grid;
  grid-template-columns: 0.9fr 1.2fr;
  gap: 2.5rem;
  align-items: center;
  margin-top: 12rem;
}

.meal-imgs {
  width: 125%;
  border-radius: 50%;
  border: solid 3px #fdf2e9;
  /* margin-right: -10.5px; */
}
.meal-img {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: -10.5px;
  /* display: flex;
  justify-content: flex-start; */
}

.meal-text-main {
  font-size: 1.8rem;
  font-weight: 600;
}
.tmain {
  color: #cf711f;
  font-weight: 600;
}

/* *************** */
/* section How */
/* *************** */

.section-how {
  padding: 9.6rem 0;
  background-color: #fff;
}

.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.step-img-box img {
  width: 33%;
  z-index: 1;
}

.step {
  font-size: 8.2rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  color: #ddd;
  margin-bottom: 1.6rem;
}

.step-des {
  font-size: 2.4rem;
  font-weight: 500;
  margin: 4rem 0;
  color: #444;
  line-height: 1.4;
  letter-spacing: 0.25px;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: -1; */
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
}

/* ************************* */
/* featured in section */
/* ************************* */

.featured-text {
  font-size: 1.4rem;
  font-weight: 500;
  color: #999;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.75px;
  margin-bottom: 2.2rem;
}
.featured-in {
  padding: 4.2rem 1.2rem;
  margin: 0 auto;
  max-width: 110rem;
}
.featured-box {
  margin-bottom: -2.8rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.featured-logo img {
  width: auto;
  height: 3.2rem;
  filter: brightness(0);
  opacity: 0.5;
}

/* **************** */
/* meals+diets */
/* **************** */

.mealimg {
  display: block;
  width: 100%;
  /* width: 28rem;
  height: 18rem; */
  border-top-right-radius: 0.8rem;
  border-top-left-radius: 0.8rem;
}

.meal-features {
  padding: 3.2rem 4rem 4rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}
.meal-item {
  list-style: none;
  font-size: 2.2rem;
  font-weight: 400;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.meal-diet-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 1.2rem;
}

.category {
  display: inline-block;
  padding: 0.6rem;
  border-radius: 1.8rem;
  margin-top: 0.9rem;
  margin-left: 3.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #444;
  background-color: rgb(52, 234, 52);
}
.category1 {
  display: inline-block;
  padding: 0.6rem;
  border-radius: 1.8rem;
  margin-top: 0.9rem;
  margin-left: 3.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #444;
  background-color: rgb(100, 221, 100);
}
.catp {
  margin-left: 1.2rem;
  background-color: rgb(182, 208, 18);
}
.meal-diet-cards {
  margin-top: 7.2rem;
}

.card {
  padding-top: 1.2rem;
  width: 50rem;
  border-radius: 1rem;
  margin-bottom: 4.2rem;
  box-shadow: 0px 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: all 0.4s;
}

.card:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0px 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.icon {
  font-size: 2.2rem;
  color: #cf711f;
}
.mealth {
  margin-top: -1.6rem;
  margin-bottom: -1.2rem;
}

.meal-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-list-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #444;
  letter-spacing: 0.75px;
}
.meal-listitem {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.meal-list-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e62;
}
.meal-name1 {
  padding-left: 2rem;
  color: #555;
}
.mflist {
  margin-top: -1.4rem;
}

.more-meals {
  margin-top: -4.8rem;
  text-align: center;
}
.linkmeal:link,
.linkmeal:visited {
  display: inline-block;
  padding-top: 2px;
  font-size: 1.8rem;
  color: #e67e62;
  transition: all 0.3s;
  border-bottom: 1px solid currentColor;
  font-weight: 400;
}
.linkmeal:hover,
.linkmeal:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.customer-img {
  width: 100%;
}

/* **************** */
/* testimonial-gallery*/
/* **************** */

.testimonial-gallery {
  margin-top: 9.6rem;
  background-color: #fdf2e9;
}
.gallery {
  row-gap: 1.2rem;
  column-gap: 1.2rem;
  padding: 1.8rem;
}
.figimg {
  overflow: hidden;
}
.gallery img {
  transition: all 0.4s;
}

.gallery img:hover {
  transform: scale(1.2);
}
.customer-image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.customer-review {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3;
  color: #444;
  margin-top: 0.8rem;
}
.customer-name {
  font-size: 1.4rem;
  font-weight: 500;
  color: #555;
  margin-top: 2rem;
  letter-spacing: 1px;
}

.testimonial-heading {
  font-size: 1.8rem;
  color: #e67e62;
  padding-left: 6rem;
}

.testimonial-box {
  margin-top: 8.2rem;
}
.testimonial {
  padding-left: 6rem;
  row-gap: -4rem;
  column-gap: 4rem;
}
.testhead {
  padding-left: 6rem;
  margin-top: -2rem;
}

.test {
  grid-template-columns: 55fr 45fr;
}

/* **************** */
/*pricing-feature */
/* **************** */

.pricing-feature {
  margin-top: 9.6rem;
}

.pricing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4.2rem;
  margin-top: 8.2rem;
  align-items: center;
  justify-content: center;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3.2rem;
  padding-top: 1.2rem;

  border-radius: 0;
  border-top-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  width: 70%;

  /* z-index: ; */
}

.inner-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1.8rem 1rem;
}
.inner-item {
  display: flex;
  gap: 1.2rem;
}

.inner-text {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.75px;
}
.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns {
  margin-top: 2.6rem;
  margin-bottom: 3rem;
  display: inline-block;
  width: 50%;
  padding: 1.8rem 1rem;
  background-color: rgb(252, 216, 167);
  font-size: 1.6rem;
  font-weight: 500;
  border: none;
  letter-spacing: 0.75px;
  border-top-left-radius: 2.9rem;
  border-bottom-right-radius: 2.9rem;
  transition: all 0.3s;
  color: #361b03;
}
.btns.special {
  background-color: rgb(242, 150, 21);
  color: white;
}

.btns:hover {
  border-radius: 0;
  border-top-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  background-color: rgb(240, 217, 185);
}
.btns.special:hover {
  background-color: rgb(247, 149, 12);
}

.line-3 {
  font-size: 2.2rem;
  font-weight: 500;
  padding: 1rem;
}
.line-2 {
  margin-top: 2rem;
  color: #cf711f;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.rs {
  font-size: 4.8rem;
  font-weight: 600;
}
.line-1 {
  letter-spacing: -0.2px;
  /* font-weight: 400;
  font-size: 2.8rem; */
  /* color: #555; */
  line-height: 1.4;
  margin-bottom: 3.2rem;
}

.priceh {
  padding: 0;
}

.p1 {
  justify-self: end;
  border: solid 1px #fae5d3;
}
.p2 {
  background-color: #f0e4da;
  position: relative;
  overflow: hidden;
}
.p2::after {
  content: "best value";
  text-transform: uppercase;
  background-color: #ffd43b;
  padding: 1.8rem 7rem;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top: 6%;
  right: -14%;
  transform: rotate(45deg);
  letter-spacing: 0.5px;
}

/* ##################### */
/* feautres of meal */
/* ##################### */

.tax {
  font-size: 1.4rem;
  letter-spacing: 0.75px;
  color: #333;
  text-align: center;
  margin: 3rem 1rem;
}

.feature-texts {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #444;
}
.feature-head {
  font-size: 2.4rem;
  letter-spacing: 0.75px;
  margin: 2.4rem auto 1.4rem auto;
  font-weight: 700;
}

.feature-icon {
  font-size: 2.4rem;
  padding: 1.8rem;
  background-color: #f0e4da;
  border-radius: 50%;
  color: #cf711f;
}

.features {
  max-width: 160rem;

  padding: 9.6rem 0;
}

/* ##################### */
/* call to action button */
/* ##################### */

.cta-section {
}
.container {
}
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
  border-radius: 1.2rem;
}

.cta-img {
  background-image: linear-gradient(
      to right bottom,
      rgb(235, 152, 78, 0.3),
      rgb(230, 126, 34, 0.3)
    ),
    url(../img/eating.jpg);
  background-size: cover;
  background-position: center;
}

.cta-text {
  padding: 2.2rem 6.2rem 6.2rem 6.2rem;
  color: #45260a;
}
.ctap1 {
  color: #45260a;
  font-weight: 800;
  letter-spacing: 0.9px;
  margin-bottom: 2.6rem;
  font-size: 3.9rem;
}

.ctap2 {
  margin-top: 3rem;
  color: #45260a;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.65;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 6rem;
  row-gap: 3rem;
  column-gap: 4rem;
  margin-bottom: 4rem;
}

.cta-form label,
select,
option {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.cta-form input,
select {
  width: 100%;
  padding: 1.8rem 1.6rem;
  font-size: 1.8rem;
  color: inherit;
  border-radius: 9px;
  border: none;
  background-color: #f0e4da;
}

.cta-button {
  background-color: #45260a;
  color: whitesmoke;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  border-radius: 9px;
  padding: 1.8rem 1.6rem;
  align-self: end;
  margin-bottom: 1.36rem;
  box-shadow: 0 0 1px rgb(0, 0, 0, 0.15);
}

.cta-form::placeholder {
  color: #aaa;
}
*:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(222, 148, 28, 0.481);
  outline-offset: 6px;
}
.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(14, 9, 1, 0.481);
}
